.header {
  &__container {
    @media(max-width: 1000px){
      &{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
      }
    }
    background: #525050;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    // width: ;
      .logo{
        @media(max-width: 1000px){
          &{
            img {width: 140px;}
          }
        }
        margin: 0 50px;
        &:focus-visible{
          border: none;
          outline: none;
        }
      }
  }
}
