.main {
  @media(max-width: 1000px){
    .play {
      img {
        width: 300px;
      }
      a {
        text-align: center;
        padding: 10px 20px !important;
        width: 100px !important;
        font-size: 25px !important;
      }
    }
  }
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  .play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      margin: 20px 0;
      width: 150px;
      background: rgb(137, 80, 70, 0.84);
      border-radius: 40px;
      padding: 20px 30px;
      text-align: center;
      text-decoration: none;
      color: white;
      font-size: 32px;
      transition: 0.5s;
      &:hover {
        outline: 2px solid white;
        transform: scale(1.1);
        background: #6F6B6B;
      }
      &:focus-visible {
        outline: 2px solid white;
      }
    }
  }
}