.logs{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  &__cont {
    @media(max-width: 1440px){
      width: 60%;
    }
    @media(max-width: 650px){
      width: 80%;
    }
    width: 30%;
    height: 90%;
    background: rgb(52, 52, 52, .3);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    border-radius: 5px;
    overflow-y: auto;
    &::-webkit-scrollbar{width: 7px; background: rgb(255, 255, 255, .3); border-radius: 10px;}
    &::-webkit-scrollbar-thumb {background-color: #525050; border-radius: 5px;}
    &__title {
      color: white;
      font-size: 32px;
      margin: 10px;
      &__line {
        border: 1px solid white;
        border-radius: 10px;
      }
    }
    .card {
      padding: 10px;
      &__title {
        font-size: 32px;
        color: white;
        margin-bottom: 5px;
      }
      &__ver {
        font-size: 25px;
        color: white;
        margin-bottom: 5px;
      }
      &__image {
        width: 40%;
      }
      &__des {
        font-size: 25px;
        color: white;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
      }
    }
  }
}