.support_cont {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	height: 650px;
}
.form {
	margin-top: 53px;
	margin-left: 50px;
}
.formelement1,
.formelement2 {
	background: rgb(103, 103, 103, 0.78);
	min-width: 662px;
	max-width: 662px;
	min-height: 50px;
	max-height: 50px;
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.formelement3 {
	background: rgb(103, 103, 103, 0.78);
	min-width: 662px;
	max-width: 662px;
	min-height: 300px;
	max-height: 300px;
}

.formelement1,
.formelement2,
.formelement3 > label {
	color: white;
	font-size: 32px;
	display: block;
}
.formelement1 > label > input,
.formelement2 > label > input {
	height: 50px;
	width: 560px;
	background: transparent;
	outline: none;
	border: none;
	font-size: 32px;
	color: white;
}
.formelement1 > label > span,
.formelement2 > label > span,
.formelement3 > label > span {
	margin-left: 10px;
}
.formelement3 > label > textarea {
	max-width: 652px;
	min-width: 652px;
	max-height: 268px;
	min-height: 268px;
	background: transparent;
	outline: none;
	border: none;
	font-size: 32px;
	color: white;
	margin: 0 5px;
	resize: none;
}

.formelement4 {
	max-width: 662px;
	min-width: 662px;
	min-height: 50px;
	max-height: 50px;
	display: grid;
	justify-content: end;
}
.formelement4 > input,
.formelement4 > select {
	max-width: 177px;
	min-width: 177px;
	max-height: 40px;
	min-height: 40px;
	background: rgb(110, 107, 107);
	border-radius: 54px;
	outline: none;
	border: none;
	margin-top: 20px;
	text-align: center;
	color: white;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	transition: 0.1s;
}
.formelement4 > input:hover, .formelement4 > select:hover {
	background: rgb(137, 80, 70, 0.84);
	outline: solid white;
}
.formelement4 > input:active, .formelement4 > select:active {
	background: rgb(245, 245, 245, 0.84);
	border: none;
	outline: none;
}
.formelement4 > input:focus-visible, .formelement4 > select:focus-visible {
	background: rgb(137, 80, 70, 0.84);
	outline: solid white;
}
.errors {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: red;
}

.submitted {
	position: absolute;
	top: 165px;
	left: 250px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	color: green;
	margin-top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: white !important;
}

.shake {
	animation: shake 5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(0px, 10px) rotate(0deg);
	}
	10% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	20% {
		transform: translate(0px, 10px) rotate(0deg);
	}
	30% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	40% {
		transform: translate(0px, 10px) rotate(0deg);
	}
	50% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	60% {
		transform: translate(0px, 10px) rotate(0deg);
	}
	70% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	80% {
		transform: translate(0px, 10px) rotate(0deg);
	}
	90% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	100% {
		transform: translate(0px, 10px) rotate(0deg);
	}
}
