header {
	margin: 0;
	padding: 0;
	background: #525050;
	box-shadow: 0 4px 40px 10px rgba(0, 0, 0, 0.5);
}

.container {
	min-width: 1200px;
	height: 80px;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container:last-child,
.container:first-child {
	margin: 0 100px;
}

.nav {
	max-height: 80px;
}

.nav a,
.nav span {
	color: white;
	text-decoration: none;
	background: #6f6b6b;
	padding: 10px 20px;
	font-size: 32px;
	transition: 0.1s;
	border-radius: 40px;
	margin: 0 20px;
}

.nav a:hover {
	background: rgb(137, 80, 70, 0.84);
	outline: solid white;
}
.nav a:focus-visible {
	outline: solid white;
}
